@import "tailwindcss";

@theme {
   --font-sans: "Inter", sans-serif;
   --font-poppins: "Poppins", sans-serif;
   --color-main: #99CC33;
   --color-background: #FAFAFA;
   --color-white: #FFFFFF;
   --color-gray: #C3C3C3;
   --color-black: #1E1E1E;
}